.bumrungrand-back {
  background-image: url(/src/assets/about_bumrungrad/bumrungrand_hospital.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.vissionMission-back {
  background-image: url(/src/assets/about_bumrungrad/Bumrungrad-Vission.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}