@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#finddoctor{
  background: url("../src/assets/find_doctor.jpg") rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  height: 60vh;
  background-blend-mode: multiply;
}


